doctype html
html
  head
    title Biblioteca
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    h1 Plataforma de Gestão de Livros
    p Recurso Engenharia Web 2024 - Júlio Pinto
    block content